body {
    padding-bottom: 40px;
}

#mainMenu .active .nav-link {
    cursor: default;
}

#mainMenu {
    margin-bottom: 40px;
}

.row {
    margin: 0%;
}

.pippo {
    color: red;
    font-size: 30px;
}

.box {
    border: 1px solid gray;
    padding: 20px;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.inputFocus {
    color: #23a527 !important;
    font-weight: bold;
    border: 5px solid;
}