    * {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 16px;
        box-sizing: border-box;
        padding: 0;
        margin: o;
        /* background: green; colore di tutta la pagina*/
    }
    
    body {
        background-image: url(../img/Breaking-Bad.jpg);
    }
    
    img {
        width: 100%;
        max-width: 900px;
        height: auto;
        box-sizing: border-box;
    }
    
    nav li {
        display: inline-block;
        width: 50%;
        padding: 10px;
        border: 1px solid gray;
    }
    
    header {
        margin-bottom: 40px;
    }
    /*FORM*/
    
    form {
        border: 1px solid green;
        padding: 30px 20px;
        border-radius: 20px;
    }
    
    form label {
        width: 100px;
        display: inline-block;
        box-sizing: border-box;
        font-weight: 700;
    }
    
    .box {
        border: 2px solid red;
        display: inline-block;
        width: 30%;
        padding: 10px;
        margin: auto;
        box-sizing: border-box;
    }
    
    ul,
    li {
        padding: 0;
    }
    
    #grid {
        margin-top: 40 px;
    }
    
    .formitem {
        margin-bottom: 20px;
    }
    
    .formitem input,
    .formitem select {
        width: 70%;
        padding: 5px;
    }
    
    .bottone2 {
        border: 1px solid green;
        background-color: #03ec2a;
        color: white;
    }
    
    .bottone-large {
        width: 300px;
        font-size: 20;
        color: red;
        transition: background-color 4s ease-in-out;
    }
    
    .bottone-large:hover {
        background-color: blue;
        color: black;
        width: 350px;
    }
    
    .formitem:hover {
        background-color: #ec0303;
    }