body {
    padding-bottom: 40px;
}

#mainMenu .active .nav-link {
    cursor: default;
}

#mainMenu {
    margin-bottom: 40px;
}

.row {
    margin: 0%;
}

.pippo {
    color: red;
    font-size: 30px;
}

.box {
    border: 1px solid gray;
    padding: 20px;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

#searchRow {
    width: 50%;
    transition: width .3s ease-in-out;
}

#searchRow.full {
    width: 100%;
}

#usersTable {
    display: none;
}

#usersTable tr {
    transition: all .3s ease-in-out
}

#usersTable tr:hover {
    cursor: pointer;
    background-color: rgb(202, 134, 46);
}

#usersTable tr img {
    transition: all .3s ease-in-out
}

#usersTable tr:hover img {
    height: 200px;
}